// components
@import "./components/navbar.component";
@import "./components/sidenav.component";
@import "./components/header-dashboard";
@import "./components//current-user-details";
@import "./components//trainee-display";
@import "./components//users-display";

// pages
@import "./pages/Home.page";
@import "./pages/Login.page";
@import "./pages/Dashboard.shell";
@import "./pages/Users.page";

html,
body,
#root {
    height: auto;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Quantico";
    // background-color: "black";
    color: #34608c;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
