// components
@import "./components/navbar.component";
@import "./components/sidenav.component";
@import "./components/header-dashboard.component";
@import "./components/current-user-details.component";
@import "./components/trainee-display.component";
@import "./components/users-display.component";
@import "./components/full-infos-tab.component";
@import "./components/user-details.component";
@import "./components/trainer-form.component";
@import "./components/trainee-form.component";
@import "./components/training-card.component";
@import "./components/training-form.component";
@import "./components/training-details.component";
@import "./components/attribute-display.component";
@import "./components/booking-card.component";
@import "./components/training_org_card.component";
@import "./components/training_org_form.component";
@import "./components/training-org-trainees-display.component";
@import "./components/company_form.component";
@import "./components/training_folder_card.component";
@import "./components/company_details.component";
@import "./components/small_company_card.component";
@import "./components/training_program.component";
@import "./components/certificate_card.component";
@import "./components/certificate_form.component";
@import "./components/training_program_form.component";
@import "./components/loanding.component";
@import "./components/empty.component";

// pages
@import "./pages/Home.page";
@import "./pages/Login.page";
@import "./pages/Dashboard.shell";
@import "./pages/Users.page";
@import "./pages/Scheduler.page";
@import "./pages/Resource.page";
@import "./pages/Trainees.page";
@import "./pages/Trainings.page";
@import "./pages/Training_company.page";
@import "./pages/Training_organisation.page";
@import "./pages/Statistique.page";
@import "./pages/Lesson_booking.page";
@import "./pages/Level_test.page";
@import "./pages/Next_lesson.page";
@import "./pages/Trainee_docs.page";
@import "./pages/Historical.page";
@import "./pages/Account.page";

html,
body,
#root {
    height: auto;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Quantico";
    // background-color: "black";
    color: #34608c;
}
// body {
//     min-height: 100vh;
//     min-height: -webkit-fill-available;
// }

// html {
//     height: -webkit-fill-available;
// }
