.dashboard_shell_container {
    background-color: rgb(173, 14, 14);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.dashboard_shell_content {
    display: flex;
    overflow: auto;
}
#sidenav_panel {
    overflow-y: auto;
    width: 250px;
    max-width: 250px;
    transition: 1s;
}

#section {
    overflow-y: auto;
}
