.dashboard_shell_container {
    // background-color: rgb(173, 14, 14);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.1fr 5fr;
    overflow: hidden;
}
.dashboard_shell_content {
    // display: flex;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 22fr;
}
#sidenav_panel {
    overflow: hidden;
    // width: 250px;
    max-width: 170px;
    transition: 1s;
}

#section {
    overflow-y: auto;
    // background-color: yellow;
    // width: 100%;
    display: flex;
    // background-color: #0373c7;
    background: url("../../../public/Fond-de-page-Advensus1.png") no-repeat
        center center;
    // background-size: 900px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    // background-attachment: scroll;

    padding: 0 10px 0 0;
    overflow-x: auto;
}
