.login_container {
    position: relative;
    background-color: #15409c;
    height: 100vh;
    // min-height: -webkit-fill-available;
    // display: flex;
    // justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

    background: url("../../../public/Fond-de-page-Advensus1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: scroll;
}

.login_form {
    position: relative;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: inherit;
    width: 100%;
    // justify-content: space-between;
    background-color: rgb(92, 92, 172);
    padding: 1em;
    margin: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login_form_header {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px 0 60px 0;
    // background: green;
}

.login_form_fields {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // background-color: red;
}

.login_form_fields_title {
    // margin: 10px 0 40px 0;
    position: relative;
    color: #fff;
    font-weight: bold;
}

.login_form_content {
    position: relative;
    margin: 35px 0;
}

.login_input {
    position: relative;
    margin: 20px 0;
}

.login_defaultbutton {
    position: relative;
    height: 3.5em;
    width: 12em;
    border-radius: 2em;
    text-align: start;
    margin: 10px 0;
}

.login_footer {
    display: flex;
    // background-color: green;
    align-items: center;
    justify-content: space-between;
}
.login_form_reset_pwd {
    // background-color: yellow;
    display: flex;
    // align-self: flex-end;
    // margin: 50px 20px;
    color: #fff;
    font-size: 15px;
    :hover {
        color: rgb(63, 13, 13);
    }
}

.login_cancel {
    color: #fff;
    font-size: 15px;
}

// @Media query height:548px
@media screen and (max-height: 548px) {
    .login_container {
        height: 100%;
    }
    .login_form {
        display: grid;
        grid-template-rows: 0.5fr 0.4fr 0.1fr;
        background-color: rgb(153, 153, 91);
    }
    .login_form_header {
        position: relative;
        margin: 20px 0 30px 0;
    }

    .login_defaultbutton {
        position: relative;
        height: 2.5em;
        width: 10em;
        border-radius: 2em;
        text-align: start;
        // margin: px 0;
    }

    .login_footer {
        display: flex;
        // background-color: red;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }

    .login_form_reset_pwd {
        display: flex;
        // margin: 20px 10px;
        color: #fff;
        font-size: 10px;
        :hover {
            color: rgb(63, 13, 13);
        }
    }

    .login_cancel {
        color: #fff;
        font-size: 10px;
    }
}
