#users_content_display_resources {
    position: relative;
    background-color: #f4f3f3;
    min-width: 300px;
    max-width: 600px;
    width: 550px;
    padding: 20px 10px 0 10px;
    height: 100%;
    transform: scale(0);
    transition: 1s ease opacity, 0.6s ease transform, 300ms ease-in-out width;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#resource_display_tab_ii {
    position: relative;
    background: #fff;
    transform: scale(0);
    transition: 1s ease opacity, 0.6s ease transform;
    padding: 15px 15px 0 15px;
    color: #000;
    overflow: auto;
    width: 60%;
}
