.scheduler_container {
    background: red;
    width: 100%;
    // height: 100%;
    display: flex;
}

#scheduler_body {
    position: relative;
    height: none;
    // background-color: yellow;
    display: flex;
    width: inherit;
}
