.currentuserdetails_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

// Mobile display
.currentuserdetails_container_mobile {
    position: relative;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#username {
    display: none;
}
