.empty_component_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 2em;
    margin: 50px 10px;
    align-self: center;
    background-color: #fff;
}
