* {
    box-sizing: border-box;
}
.navbarcomponent {
    // background-color: red;
    // background-color: #cedbe8;
    height: 90px;
    z-index: 1;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
}

.calloutclass {
    width: 100%;
    max-width: 98%;
    // font-size: x-large;
    // padding: 30px 25px;
}
.calloutclass span {
    // width: 100%;
    // max-width: 98%;
    // font-size: x-large;
    // color: red;
}
.calloutcontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100%;
}
.calloutcontenti {
    background-color: "black";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 5em;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #cedbe8;
    opacity: 1;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
}

#navbar a {
    float: left;
    padding: 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #34608c;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
}

#navbar-right {
    display: flex;
    align-items: center;
    float: right;
    padding-right: 80px;
}
.navbaractionbutton {
    font-size: 18px;
    color: #34608c;
    :hover {
        color: #de4225;
    }
}
.navbardefaultbutton {
    border-radius: 15px;
    background-color: transparent;
    border-color: #de4225;
    color: #de4225;
    :hover {
        color: #34608c;
        border-color: #34608c;
    }
}
