.trainer_time_table_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.trainer_time_table_dropdown {
    position: relative;
    width: 40%;
    border-radius: 5px;
}
