.trainee_form_container {
    color: #000;
    overflow: auto;
    // background-color: green;
    padding: 0 10px 0 0;
}

.own_trainee_sect {
    // background: red;
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 10px;
}
.own_trainee_pict {
    background: rgb(68, 68, 129);
    height: 160px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.own_trainee_fields {
    // background: gray;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-between;
}
.addr_trainee {
    // background: moccasin;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.oth_trainee {
    // background: mediumvioletred;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.trainee_form_btns {
    margin: 10px 5px;
}

// .trainee_form_input {
//     border-radius: 20px;
// }

.trainee_hr_solid {
    border-top: 0.1em solid black;
    border-bottom: 0;
    margin-top: 2px;
}

.trainee_txt_divide_mov {
    display: block;
    margin-top: 15px;
}
