.training_form_container {
    // height: 400px;
}
.training_txt_divide_mov {
    display: block;
    margin-top: 15px;
}
.trainer_hr_solid {
    border-top: 0.1em solid black;
    border-bottom: 0;
    margin-top: 2px;
}
.training_fields_sect {
    padding: 20px;
}
.training_form_btns {
}

.training_input {
    margin-bottom: 10px;
}
