.user_details_container {
    // background-color: red;
    // overflow: auto;
}

.user_details_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user_details_init {
    background: #6e8aa7;
    height: 80px;
    width: 80px;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.user_details_training_folder {
    margin-top: 20px;
}
.user_details_training_folder_head {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
}
.hr_user_details_training_folder {
    border-top: 0.1em solid black;
    border-bottom: 0;
    margin-top: 0px;
}
